/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-1763 {
    padding: var(--sectionPadding);
    padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
    /* change this to match the color of the section above the footer */
    background-color: #f7f7f7;
    overflow: hidden;
    /* 30px - 50px */
    position: relative;
    z-index: 1;
  }
  #cs-footer-1763 .cs-card-group {
    /* reset on tablet */
    max-width: 34.375rem;
    margin: auto;
    /* 60px - 100px*/
    padding: 0 0 clamp(3.75rem, 7vw, 6.25rem) 0;
    display: grid;
    /* 20px - 58px */
    gap: clamp(1.25rem, 4vw, 3.625rem);
  }
  #cs-footer-1763 .cs-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 16px - 24px */
    gap: clamp(1rem, 2vw, 1.5rem);
  }
  #cs-footer-1763 .cs-picture {
    padding: 1.5rem;
    background-color: var(--primary);
    display: block;
  }
  #cs-footer-1763 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #cs-footer-1763 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
  }
  #cs-footer-1763 .cs-card-info {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
  #cs-footer-1763 .cs-container {
    width: 100%;
    /* reset on tablet */
    max-width: 34.375rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    /* 32px - 48px */
    gap: clamp(2rem, 7vw, 3rem);
  }
  #cs-footer-1763 .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer-1763 .cs-logo {
    width: 13.125rem;
    height: auto;
    margin: 0 0 1rem 0;
    display: block;
  }
  #cs-footer-1763 .cs-text {
    max-width: 44rem;
    /* 24px - 40px */
    margin: 0 0 clamp(1.5rem, 4vw, 2.5rem);
    opacity: 0.8;
  }
  #cs-footer-1763 .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer-1763 .cs-contact {
    display: grid;
    gap: 2rem;
  }
  #cs-footer-1763 .cs-topper {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  #cs-footer-1763 .cs-contact-link {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--headerColor);
  }
  #cs-footer-1763 .cs-header {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.5em;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 4vw, 1.5rem) 0;
    color: var(--headerColor);
    display: block;
    position: relative;
  }
  #cs-footer-1763 .cs-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #cs-footer-1763 .cs-li {
    list-style: none;
  }
  #cs-footer-1763 .cs-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    text-decoration: none;
    color: var(--bodyTextColor);
    display: inline-flex;
    align-items: flex-start;
    gap: 0.5rem;
    transition: color 0.3s;
  }
  #cs-footer-1763 .cs-link:hover {
    color: var(--primaryLight);
  }
  #cs-footer-1763 .cs-bottom {
    width: 100%;
    max-width: 80rem;
    /* 60px - 80px */
    margin: clamp(3.75rem, 7vw, 5rem) auto 0;
    padding-top: 1.5rem;
    border-top: 1px solid var(--border-border-10, #e8e8e8);
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  #cs-footer-1763 .cs-credit,
  #cs-footer-1763 .cs-bottom-link,
  #cs-footer-1763 .cs-credit-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    color: var(--bodyTextColor);
  }
  #cs-footer-1763 .cs-credit {
    width: 100%;
  }
  #cs-footer-1763 .cs-credit-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    width: auto;
    margin: 0;
    display: inline-block;
    position: relative;
  }
  #cs-footer-1763 .cs-credit-link:hover {
    color: var(--primary);
  }
  #cs-footer-1763 .cs-bottom-links {
    width: 100%;
    display: flex;
  }
  #cs-footer-1763 .cs-bottom-link {
    display: flex;
    align-items: center;
  }
  #cs-footer-1763 .cs-bottom-link:hover {
    color: var(--primary);
  }
  #cs-footer-1763 .cs-bottom-link:last-of-type:before {
    /* separator */
    content: "";
    width: 1px;
    height: 0.875rem;
    margin: 0 0.75rem;
    background: currentColor;
    opacity: 1;
    display: block;
  }
  #cs-footer-1763 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 9rem;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #cs-footer-1763 .cs-light {
    display: block;
  }
  #cs-footer-1763 .cs-dark {
    display: none;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #cs-footer-1763 .cs-card-group {
    max-width: 80rem;
  }
  #cs-footer-1763 .cs-container {
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    max-width: 80rem;
    grid-template-columns: repeat(12, 1fr);
  }
  #cs-footer-1763 .cs-logo-group {
    grid-column: span 12;
  }
  #cs-footer-1763 .cs-ul-wrapper {
    grid-column: span 4;
  }
  #cs-footer-1763 .cs-contact {
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
  }
  #cs-footer-1763 .cs-table {
    grid-column: span 12;
  }
  #cs-footer-1763 .cs-bottom {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #cs-footer-1763 .cs-credit {
    text-align: left;
  }
  #cs-footer-1763 .cs-bottom-links {
    justify-content: flex-end;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-1763 .cs-card-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #cs-footer-1763 .cs-card {
    grid-column: span 4;
  }
  #cs-footer-1763 .cs-logo-group {
    grid-column: span 4;
  }
  #cs-footer-1763 .cs-ul-wrapper {
    grid-column: span 2;
  }
  #cs-footer-1763 .cs-contact {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
  }
}
