<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/food-details1.css">
    <link rel="stylesheet" href="/css/global-styles1.css">
    <title>Food Details1 Page</title>
</head>
<body>
<header>
    <nav>
        <div class="logo">ValiSportApp</div>
        <div class="navbar-links">
            <a href="/user/index">Home</a>
            <a href="/training1">Training</a>
            <a href="/food1">Food</a>
            <a href="/maps1">Maps</a>
            <a href="/friends1">Friends</a>
            <a href="/dashboard1">Dashboard</a>
        </div>
        <div class="user-info">
            <span><span th:text="${username}"></span> (ID: <span th:text="${userId}"></span>)</span>
        </div>
        <a class="logout-button" href="/logout">Logout</a>
    </nav>
</header>

<main>
    <!-- ============================================ -->
    <!--                   Footer                     -->
    <!-- ============================================ -->

    <!--NOTE: Make sure the section above this footer has the same background color as the footer for a seamless trasition between them-->

    <footer id="cs-footer-1763">
        <!--Contact Info-->
        <div class="cs-card-group">
            <div class="cs-card">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-footer-location-pin.svg" alt="location" loading="lazy" decoding="async" height="32" width="32">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Message</h3>
                    <span class="cs-card-info">Send message to a friend with ingredients that you don't have</span>
                </div>
            </div>

            <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/long-texture.svg" alt="graphic" height="151" width="1920" loading="lazy" decoding="async">
            <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/long-texture-dark.svg" alt="graphic" height="151" width="1920" loading="lazy" decoding="async">
        </div>
        <div class="cs-container">
            <!-- Logo Group -->
            <div class="cs-logo-group">
                <a aria-label="go back to home" class="cs-logo">
                    <img src="/images/food.png" alt="logo" width="240" height="240">
                </a>
<!--                <p class="cs-text">-->
<!--                    Welcome to Stitch Fitness! We believe that true wellness encompasses the mind, body & soul. We are here to support and guide you every step of the way.-->
<!--                </p>-->
            </div>
            <!-- Links -->
            <div class="cs-ul-wrapper">
                <span class="cs-header">Your ingredients</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <a class="cs-link" href="">Personal Training</a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="">Group Workout</a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="">Muscle Building</a>
                    </li>
                </ul>
            </div>
            <div class="cs-ul-wrapper">
                <span class="cs-header">Missing ingredients</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <a class="cs-link" href="">About Stitch Gym</a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="">Membership Details</a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="">Class Timetable</a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="">Contact Us</a>
                    </li>
                </ul>
            </div>
<!--            <div class="cs-contact">-->
<!--                <div class="cs-contact-info">-->
<!--                    <span class="cs-topper">Call us anytime</span>-->
<!--                    <a href="" class="cs-contact-link">+123 458 789412</a>-->
<!--                </div>-->
<!--                <div class="cs-contact-info">-->
<!--                    <span class="cs-topper">Visit our location</span>-->
<!--                    <a href="" class="cs-contact-link">17110 116th Ave SE Unit Renton, WA 38058-5055</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </footer>

</main>

</body>
<footer>
    &copy; 2024 Sport Application
</footer>
</html>
