<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/food1.css">
    <link rel="stylesheet" href="/css/global-styles1.css">
    <title>HomePage Page</title>
</head>
<body>
<header>
    <nav>
        <div class="logo">ValiSportApp</div>
    </nav>
</header>
<main>
    <section id="reviews-1739">
        <div class="cs-container">
            <div class="cs-form-group">
                <div class="cs-content">
                    <span class="cs-topper">WELCOME</span>
                    <h2> Welcome  to the App that will help you practice your favorite sport while keeping a healthy mind in a healthy body. Here you will be able to find specially arranged places for various sports in the city of Iasi...</h2>
                </div>
            </div>

        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-texture.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-texture.png">
            <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-texture.png" alt="background" height="1920" width="1080" loading="lazy" decoding="async">
        </picture>
    </section>

</main>



</body>
<footer>
    &copy; 2024 Sport Application
</footer>
</html>
